*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navigation a{
    text-decoration: none;
    padding: 30px;
    color:#000;

}
.navigation{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    border-bottom: 3px solid rgb(101, 96, 96);
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.search{
    border-left: 3px solid  rgb(101, 96, 96);
    padding: 20px;
}
.social-media{
border-right: 3px solid rgb(101, 96, 96);
text-align: center;


}
.icons{
  margin-top: 500px;
  padding: 10px;

}
